<div class="navbar__container">
  <div class="navbar__container-logo">
    <a href="#">
      <img
        src="assets/ps-logo.png"
        alt="Playstation logo"
        width="140"
        height="32"
      />
    </a>
  </div>
  <div class="navbar__container-item">
    <ul>
      <li><a href="https://github.com/LxLorenzo" target="_blank">GitHub</a></li>
      <li>
        <a href="https://www.linkedin.com/in/lorenzocasa/" target="_blank"
          >LinkedIn</a
        >
      </li>
      <li>
        <a href="https://www.lorenzocasa.live/" target="_blank">Portfolio</a>
      </li>
    </ul>
  </div>
</div>
