<div class="home__container">
  <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="Digital"
    gamePrice="119,90"
    gameType="PS4"
  ></app-card>
  <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="Exclusivo"
    gamePrice="129,90"
    gameType="PS4"
  ></app-card>
  <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="Digital"
    gamePrice="99,90"
    gameType="PS4"
  ></app-card>
  <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="New"
    gamePrice="79,90"
    gameType="PS4 * PC"
  ></app-card>
  <app-card
    gameCover="assets/bt-bad-company-2.jpg"
    gameLabel="Exclusivo"
    gamePrice="129,90"
    gameType="PS4"
  ></app-card>
  <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="New"
    gamePrice="299,90"
    gameType="PS4"
  ></app-card>
</div>
